body { @viewport
    zoom: 1.0;
    width: device-width;
 background-image: url("ahora.jpg");
 background-color: white;
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
background-size:contain;
}
