body {
	background-color: black;
	@viewport
    zoom: 1.0;
    width: device-width;
}
}

span {
    color: blue;
    border-color: blue;
    margin-right: -1px;
}

h1 {
	color: blue;
	font-size: 40px;
	font-family: MingLiU-ExtB;
}

footer {
	margin-top: 240px;
}
