body {
	background-color: black;
}

span {
    color: blue;
    border-color: blue;
    margin-right: -1px;
}

h1 {
	color: blue;
	font-size: 30px;
	font-family: MingLiU-ExtB;
}

footer {
	margin-top: 240px;
}
